.editor .categorizer {
    display: none;
}

.editor .categorizer .is-categorizable {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all 0.25s;
}

.editor .categorizer .is-categorizable:hover {
    padding-bottom: 0.1rem;
    font-size: 105%;
}
/* The term is yet to be assigned a grammatical category. */
.editor .categorizer .is-categorizable.is-uncategorized {
    color: #595959;
}

.editor .categorizer .is-categorizable .category {
    font-size: 0.75rem;
    color: #595959;
}

.editor .categorizer .is-categorizable:hover .category {
    color: black;
}

.editor .categorizer .is-categorizable .category span {
    background-color: #f9f9f9;
    padding: 0.1rem 1rem;
}

.editor .categorizer .is-categorizable .select-category {
    text-align: left;
    position: absolute;
    font-size: 1rem;

    /* Positions the select box in the middle of the word. */
    left: 50%;
    transform:translate(-50%, 0%);
    margin: auto;
    margin-top: 1rem;

}

.editor .categorizer .is-categorizable .select-category select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    padding: 0.25rem 1rem;
}

/**
 * Various different styles for categories. From the styling POV it's arbitrary
 * which category is represented by which styling.
 */

.editor .categorizer .is-categorizable.is-cat-1 {
    border-bottom: 4px solid #fccff4;
}

.editor .categorizer .is-categorizable.is-cat-2 {
    border-bottom: 4px dotted #bcb0ee;
}

.editor .categorizer .is-categorizable.is-cat-3 {
    border-bottom: 4px dashed #a6d5fd;
}

.editor .categorizer .is-categorizable.is-cat-4 {
    border-bottom: 4px double #b4f1b3;
}

.editor .categorizer .is-categorizable.is-cat-5 {
    border-bottom: 4px groove #fff8bb;
}

.editor .categorizer .is-categorizable.is-cat-6 {
    border-bottom: 4px ridge #f2b6ae;
}
