
/* Spans the whole screen. */
.editor {
    width: 100%;
}

/* ------------------------------------ Hints ------------------------------- */

.editor .hints {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #595959;
    height: 100px;
}

.editor .hints div {
    width: 100%;
    text-align: center;
}

.editor .hints .start-typing::after {
    content: '\25BE \A';
    font-size: 2rem;
    white-space: pre;
    position: relative;

    /* Mobile sizes. */
    top: -10px;
}

/* ----------------------------------- Text area ---------------------------- */

.editor .interactive {
    display: flex;
    justify-content: center;
    position: relative;
}

/* Is inside the editor. Let's user type their sentence. */
.editor .interactive .text-input {
    background-color: #f9f9f9;
    display: inline-block;
}

/* -------------------------------- Categorization -------------------------- */

.editor .select-category {
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 0.75rem;
}

/* All lists. */
.editor .select-category ul {
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
}

/* Top level list only. */
.editor .select-category > ul {
    border: 1px solid #bfbfbf;
}

/* Top level items. */
.editor .select-category > ul > li {
    padding: 0.25rem 0.5rem;
    border-top: 1px solid #bfbfbf;
}

/* Nested items. */
.editor .select-category > ul > ul > li {
    padding: 0.25rem 1rem;
    border-left: 2px solid white;
}
.editor .select-category > ul > ul > li:hover {
    border-color: black;
}

/* Unselectable group name headings. */
.editor .select-category ul li.group-name {
    font-weight: bold;
}

/* Selectable items. */
.editor .select-category ul li:not(.group-name) {
    cursor: pointer;
}
.editor .select-category ul li:not(.group-name):hover {
    background-color: #f4f4f4;
}

.editor .categorizer .is-categorizable {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all 0.25s;

    /* See the hover state of this element. */
    padding-right: 5px
}

.editor .categorizer .is-categorizable:hover {
    padding-bottom: 0.1rem;
    font-size: 105%;

    /*
     * This is a hack to avoid issues where the word grows too much to fit on
     * the same line, which pushes it on a new line. That removes the font grow
     * because hover no longer applies, and the word goes back to its original
     * position. But there's the cursor, so it grows and is pushed on a new line
     * again. And again. And again. 100 times a second.
     */
    padding-right: 0;
}

.editor .categorizer .is-categorizable .category {
    font-size: 0.75rem;
    color: #595959;

    /* Prevents the category from being selected. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editor .categorizer .is-categorizable:hover .category {
    color: black;
}

.editor .categorizer .is-categorizable .category span {
    background-color: #f9f9f9;
    padding: 0.1rem 1rem;
}

.editor .categorizer .is-categorizable .select-category {
    position: absolute;
    font-size: 1rem;
    text-align: left;

    /* Positions the select box in the middle of the word. */
    left: 50%;
    transform:translate(-50%, 0%);
    margin: auto;
    margin-top: 1rem;

}

.editor .categorizer .is-categorizable .select-category select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    padding: 0.25rem 1rem;
}

/**
 * Various different styles for categories. From the styling POV it's arbitrary
 * which category is represented by which styling.
 */

.editor .categorizer .is-categorizable.is-cat-0 {
    color: #595959;
}

.editor .categorizer .is-categorizable.is-cat-1 {
    border-bottom: 4px solid #fccff4;
}

.editor .categorizer .is-categorizable.is-cat-2 {
    border-bottom: 4px dotted #bcb0ee;
}

.editor .categorizer .is-categorizable.is-cat-3 {
    border-bottom: 4px dashed #a6d5fd;
}

.editor .categorizer .is-categorizable.is-cat-4 {
    border-bottom: 4px double #b4f1b3;
}

.editor .categorizer .is-categorizable.is-cat-5 {
    border-bottom: 4px groove #fff8bb;
}

.editor .categorizer .is-categorizable.is-cat-6 {
    border-bottom: 4px ridge #f2b6ae;
}

/* ---------------------------------- Responsive ---------------------------- */

/* Tablet sizes. */
@media only screen and (min-width: 768px) {
    .editor .hints {
        margin-bottom: 0.5rem;
    }

    .editor .hints .start-typing::after {
        top: -7px;
    }
}

/* Desktop sizes. */
@media only screen and (min-width: 1216px) {
    .editor .hints {
        margin-bottom: 1rem;
    }

    .editor .hints .start-typing::after {
        top: -2px;
        font-size: 1.5rem;
    }
}
