
/* Spans the whole screen. */
.editor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Is inside the editor. Let's user type their sentence. */
.editor .text-input {
    background-color: #f9f9f9;
}

.editor .hint {
    text-align: center;
    color: #595959;
}

/* By default this element is hidden. It is shown with JS when the user starts
typing. */
.editor .hint .press-enter {
    display: none;
}

.editor .hint .start-typing::after {
    content: '\25BE \A';
    font-size: 2rem;
    white-space: pre;
    position: relative;

    /* Mobile sizes. */
    top: -10px;
}

/* Tablet sizes. */
@media only screen and (min-width: 768px) {
    .editor .hint {
        margin-bottom: 0.5rem;
    }

    .editor .hint .start-typing::after {
        top: -7px;
    }
}

/* Desktop sizes. */
@media only screen and (min-width: 1216px) {
    .editor .hint {
        margin-bottom: 1rem;
    }

    .editor .hint .start-typing::after {
        top: -2px;
        font-size: 1.5rem;
    }
}
